@charset "UTF-8";
@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttf);
  font-weight: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --container-width: 1344px;
  --container-padding: 15px;
  --text-color: #666;
  --title-color: #264065;
  --text-dark-color: ##333;
  --transition: 0.2s ease;
  --color-white: #fff;
  --accent-color: rgba(48, 127, 221, 1);
}

.hero-catalog__title-container {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 10px;
  margin-bottom: 30px;
  font-weight: 400;
}
.hero-catalog__title {
  color: #264065;
  font-size: 68px;
  line-height: 72px;
  font-family: "DaysFont", sans-serif;
}
@media (max-width: 1000px) {
  .hero-catalog__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (max-width: 750px) {
  .hero-catalog__title {
    font-size: 32px;
    line-height: 34px;
  }
}
.hero-catalog__product-count {
  font-size: 20px;
  line-height: 43px;
  color: var(--text-color);
  font-family: "IBM Plex Sans", serif;
}
@media (max-width: 750px) {
  .hero-catalog__product-count {
    font-size: 16px;
    line-height: 24px;
  }
}
.hero-catalog__banner-slider {
  margin: 30px 0;
}
.hero-catalog__banner-wrapper {
  max-height: 245px;
}
@media (max-width: 750px) {
  .hero-catalog__banner-wrapper {
    max-height: 340px;
  }
}
.hero-catalog__banner-slide {
  padding: 0 50px;
}
@media (max-width: 550px) {
  .hero-catalog__banner-slide {
    padding: 0 40px;
  }
}
.hero-catalog__banner-slide.swiper-slide a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1113px;
  height: 100%;
  margin: 0 auto;
  padding: 0 60px;
  border-radius: 15px;
  border: 1px solid #e5e8ed;
  background-color: var(--color-white);
}
@media (max-width: 750px) {
  .hero-catalog__banner-slide.swiper-slide a {
    flex-direction: column;
    padding: 15px 10px 5px 10px;
  }
}
.hero-catalog__banner-button-prev, .hero-catalog__banner-button-next {
  padding: 0 10px;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding));
  padding: 0px var(--container-padding);
  margin: 0 auto;
}

.container:has(.category-slider) {
  max-width: calc(var(--container-width) + 2 * var(--container-padding) + 60px);
}
@media (max-width: 1150px) {
  .container:has(.category-slider) {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .container:has(.hero-catalog__banner-slider) {
    padding: 0;
  }
}

.breadcrumbs {
  color: var(--text-color);
  font-size: 12px;
  line-height: 12.6px;
  margin-bottom: 30px;
}
.breadcrumbs ul {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.breadcrumbs li.active a {
  background-color: #f2722c;
  color: #ffffff;
}
.breadcrumbs a {
  display: inline-block;
  padding: 8px;
  background-color: #ffffff;
  color: var(--text-color);
  border-radius: 8px;
  transition: background-color var(--transition);
}
.breadcrumbs a:hover {
  background-color: #dfdfdf;
}
@media (max-width: 1200px) {
  .breadcrumbs {
    margin-top: 20px;
  }
}

.category-slider {
  padding: 0 30px;
}
.category-slider__wrapper {
  margin-bottom: 30px;
}
.category-slider__slide {
  height: 75px;
}

.category-slide__content {
  position: relative;
  border-radius: 37px;
  background-color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.category-slide__content:hover .category-slide__arrow {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 450px) {
  .category-slide__img svg {
    width: 35px;
  }
}
.category-slide__img--active svg path {
  fill: #307fdd;
}
.category-slide__slug {
  font-family: "IBM Plex Sans", serif;
  font-size: 18px;
  line-height: 19px;
  color: var(--text-color);
}
@media (max-width: 450px) {
  .category-slide__slug {
    font-size: 14px;
    line-height: 16px;
  }
}
.category-slide__arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #264065;
  position: absolute;
  top: 15px;
  right: -25px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  box-shadow: 0px 15px 23px 0px rgba(38, 64, 101, 0.25);
  visibility: hidden;
  transition: visibility var(--transition), opacity var(--transition);
}
@media (max-width: 450px) {
  .category-slide__arrow {
    font-size: 14px;
    line-height: 16px;
    width: 25px;
    height: 25px;
    top: 25px;
    right: -12.5px;
  }
  .category-slide__arrow img {
    width: 12px;
  }
}

.banner-slide__text-content {
  padding: 50px 0;
}
@media (max-width: 750px) {
  .banner-slide__text-content {
    flex-direction: column;
    padding: 20px 0;
  }
}
@media (max-width: 750px) {
  .banner-slide__text-content {
    padding: 0;
  }
}
.banner-slide__title {
  max-width: 520px;
  font-size: 36px;
  line-height: 38px;
  font-family: "DaysFont", sans-serif;
  color: #264065;
  flex: 647px 0 1;
  margin-bottom: 5px;
}
@media (max-width: 1000px) {
  .banner-slide__title {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 750px) {
  .banner-slide__title {
    font-size: 20px;
    line-height: 21px;
  }
}
.banner-slide__description {
  color: var(--text-dark-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  max-width: 420px;
}
@media (max-width: 1000px) {
  .banner-slide__description {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 750px) {
  .banner-slide__description {
    font-size: 16px;
    line-height: 21px;
  }
}
.banner-slide__img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 900px) {
  .banner-slide__img {
    max-width: 250px;
  }
}
@media (max-width: 750px) {
  .banner-slide__img {
    max-width: 350px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.info {
  border: 1px solid #e5e8ed;
  border-radius: 15px;
  background: var(--color-white);
  padding: 60px;
  margin-bottom: 90px;
}
@media (max-width: 550px) {
  .info {
    padding: 30px 17px;
  }
}
.info__text {
  font-family: "DaysFont", sans-serif;
  color: var(--title-color);
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .info__text {
    font-size: 18px;
    line-height: 19px;
  }
}
.info__category {
  margin-bottom: 15px;
  font-family: "IBM Plex Sans", sans-serif;
}
.info__category-text, .info__privileges-text {
  color: var(--title-color);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 450px) {
  .info__category-text, .info__privileges-text {
    font-size: 18px;
    line-height: 24px;
  }
}
.info__category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 550px) {
  .info__category-list {
    display: block;
    gap: 15px;
  }
}
.info__category-link {
  font-size: 16px;
  line-height: 22px;
  padding: 0 3px;
  transition: color var(--transition);
}
.info__category-link:hover {
  color: var(--title-color);
}
@media (max-width: 450px) {
  .info__category-link {
    font-size: 14px;
    line-height: 22px;
  }
}
.info__privileges {
  font-family: "IBM Plex Sans", sans-serif;
}
.info__privileges-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media (max-width: 750px) {
  .info__privileges-list {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
  }
}
.info__privileges-item {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 15px;
}
@media (max-width: 750px) {
  .info__privileges-item {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-content: flex-start;
    gap: 5px 10px;
  }
}
.info__privileges-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 5px solid var(--title-color);
  border-radius: 50%;
}
@media (max-width: 750px) {
  .info__privileges-img {
    grid-row: 2 span;
    width: 45px;
    height: 45px;
    border: 3px solid var(--title-color);
  }
  .info__privileges-img img {
    width: 25px;
    height: 25px;
  }
}
.info__privileges-item-title {
  color: var(--title-color);
  font-size: 18px;
  line-height: 19px;
}
@media (max-width: 450px) {
  .info__privileges-item-title {
    font-size: 16px;
    line-height: 22px;
  }
}
.info__privileges-item-text {
  color: var(--text-dark-color);
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 450px) {
  .info__privileges-item-text {
    font-size: 14px;
    line-height: 19px;
  }
}

html {
  scroll-behavior: smooth;
}

.filter-section {
  display: grid;
  grid-template-columns: 320px auto;
  gap: 25px;
}
@media (max-width: 930px) {
  .filter-section {
    position: relative;
    display: block;
  }
}
.filter-section__filter {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 15px;
}
@media (max-width: 930px) {
  .filter-section__filter {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    max-width: 320px;
    z-index: 10;
    top: 50px;
  }
}
.filter-section.show-filter .filter-section__filter.filter {
  opacity: 1;
  visibility: visible;
}
.filter-section__filter.active {
  opacity: 1;
  visibility: visible;
}
.filter-section .view .view__header-options-filter-show {
  display: none;
  width: 110px;
  justify-content: space-between;
  padding: 9px 15px;
  font-size: 14px;
  line-height: 19px;
  color: rgb(102, 102, 102);
  transition: opacity var(--transition);
  opacity: 1;
}
.filter-section .view .view__header-options-filter-show:hover {
  opacity: 0.8;
}
@media (max-width: 930px) {
  .filter-section .view .view__header-options-filter-show {
    display: flex;
  }
}

.view__header {
  grid-template-rows: auto auto;
  gap: 15px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
  color: var(--text-color);
}
.view__header-options {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .view__header-options {
    margin-bottom: 10px;
  }
}
.view__header-view-options {
  display: flex;
  gap: 20px;
}
@media (max-width: 930px) {
  .view__header-view-options {
    display: none;
  }
}
.view__header-view-options button {
  background-color: var(--color-white);
}
.view__header-view-options button.active {
  background-color: #e9e9e9;
}
.view__header-view-options button.active path {
  fill: #307fdd;
}
.view__header-options-filters {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  width: 100%;
  max-width: 307px;
}
.view__header-options-filters span {
  flex: 0 0 107px;
}
.view__header-options-filters select {
  width: 186px;
  background: transparent;
  color: var(--title-color);
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}
.view__header-options-filters::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 0px;
  height: 6px;
  width: 10px;
  background: url("../img/icon/filter-arrow-down.svg");
}
@media (max-width: 550px) {
  .view__header-options-filters {
    max-height: 38px;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    padding: 0;
    max-width: 186px;
  }
  .view__header-options-filters::after {
    bottom: 6px;
    right: 8px;
  }
  .view__header-options-filters:has(select:focus):after {
    transform: rotate(180deg);
  }
  .view__header-options-filters span {
    flex: auto;
  }
  .view__header-options-filters .ss-main {
    padding: 0;
  }
  .view__header-options-filters .ss-main .ss-single {
    margin: 0;
  }
}
.view__header-slugs {
  display: flex;
}
.view__header-slugs > span,
.view .view__header-options-filter-show {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 10px;
  height: 32px;
  margin-right: 10px;
  background-color: var(--color-white);
  border-radius: 37px;
  font-size: 12px;
  line-height: 13px;
}
.view__header-slugs > span .cross-mark,
.view .view__header-options-filter-show .cross-mark {
  width: 20px;
  height: 20px;
  background: url("../img/icon/cross-mark.svg") no-repeat center;
}
.view__header-view-options button {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view__body.active .view__body-item {
  max-width: 180px;
}
@media (max-width: 550px) {
  .view .main_offer-slide-slider {
    max-width: 43vw;
  }
}

.view__body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.view__body.active .main_offer-text-top {
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.view__body.active .main_offer-texts-text {
  font-size: 14px;
  line-height: 19px;
}
.view__body.active .main_offer-texts-bottom {
  justify-content: end;
  gap: 10px;
}
.view__body.active .main_offer-texts-prices {
  flex-direction: column-reverse;
  align-items: end;
  gap: 0;
}
@media (max-width: 550px) {
  .view__body .main_offer-text-top {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .view__body .main_offer-texts-text {
    font-size: 14px;
    line-height: 19px;
  }
  .view__body .main_offer-texts-bottom {
    justify-content: end;
    gap: 10px;
  }
  .view__body .main_offer-texts-prices {
    flex-direction: column-reverse;
    align-items: end;
    gap: 0;
  }
}
@media (max-width: 1100px) {
  .view__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

.view__body-item {
  display: flex;
  justify-content: center;
}
.view__body-item[data-availability="Осталось мало"] .main_offer-texts-abo {
  color: #f2722c;
}
.view__body-item[data-availability=Ожидается] .main_offer-texts-abo {
  color: rgb(216, 0, 4);
}

.main_offer-slide-slider {
  display: flex;
  flex-direction: column;
}

.main_offer-texts {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main_offer-texts .main_offer-texts-text {
  flex: 1;
}

.view__body.active {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1280px) {
  .view__body.active {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1100px) {
  .view__body.active {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 980px;
  font-family: "IBM Plex Sans", serif;
}
.filter__title {
  font-family: "DaysFont", serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 24px;
  line-height: 25px;
}
.filter__title span {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 2.5px;
  width: 20px;
  height: 20px;
  background: url("../img/icon/btn.svg") no-repeat left;
}
.filter__item {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.filter__item:not(.filter__item-serche) {
  padding: 15px;
}
.filter__item:has(#availability) {
  padding: 15px 0;
}
.filter__item.filter__item-details {
  padding: 0;
}
.filter__item input {
  background-color: #f9f9f9;
  width: 100%;
}
.filter__item input::placeholder {
  font-size: 14px;
  line-height: 19px;
}
.filter__item-serche {
  height: 44px;
  position: relative;
  overflow: hidden;
}
.filter__item-serche input {
  height: 100%;
  padding: 12px 0 12px 50px;
}
.filter__item-serche input:focus {
  padding: 12px;
}
.filter__item-serche input:focus + img {
  display: none;
}
.filter__item img {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 15px;
}
.filter__item-range.filter__item {
  padding: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.filter__item-range.filter__item p {
  font-size: 18px;
  line-height: 24px;
  color: #252b42;
  margin-bottom: 37px;
}
.filter__range {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.filter .filter__range .value {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.filter .filter__range .value input {
  height: 41px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 11px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.filter .filter__range-container {
  flex: 1;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.filter #slider .noUi-connects {
  background-color: #e6e6e6;
  border-radius: 3px;
  height: 6px;
}
.filter #slider .noUi-connect {
  background-color: #307fdd;
  height: 6px;
}
.filter #slider.noUi-target,
.filter #slider .noUi-handle {
  border: none;
  box-shadow: none;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.filter #slider .noUi-handle {
  width: 12px;
  height: 12px;
}
.filter #slider .noUi-handle.noUi-handle-lower::before,
.filter #slider .noUi-handle.noUi-handle-lower::after {
  left: 5px;
  top: 0px;
  height: 5px;
  background-color: #5b91d2;
  z-index: 100;
}
.filter #slider .noUi-handle.noUi-handle-lower::after {
  left: 7px;
}
.filter #slider .noUi-handle.noUi-handle-upper::before,
.filter #slider .noUi-handle.noUi-handle-upper::after {
  left: 5px;
  top: 0px;
  height: 5px;
  background-color: #5b91d2;
  z-index: 100;
}
.filter #slider .noUi-handle.noUi-handle-upper::after {
  left: 7px;
}
.filter #slider .noUi-origin {
  right: -20px;
}
.filter #slider .noUi-touch-area {
  width: 13px;
  height: 12px;
  border-radius: 50%;
  background-color: #307fdd;
  transform: translateY(-3px);
  position: relative;
}
.filter #slider .noUi-touch-area::before {
  content: "";
  position: absolute;
  top: -11px;
  right: 0px;
  height: 7px;
  width: 14px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #264065;
}
.filter #availability {
  background: transparent;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
  position: relative;
}
.filter #offers {
  width: calc(100% - 10px);
  padding: 12px 10px;
  background-color: transparent;
  color: rgb(115, 115, 115);
  font-size: 14px;
  line-height: 18px;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}
.filter__item details summary {
  padding: 15px;
}
.filter .filter__item-offers {
  position: relative;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  background-color: #f9f9f9;
}
.filter .filter__item:has(#availability) {
  position: relative;
}
.filter .filter__item-offers::after,
.filter .filter__item:has(#availability)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/icon/arrow-down-filter.svg") no-repeat center;
}
.filter .filter__item:has(#availability)::after {
  top: 20px;
  right: 15px;
}
.filter__item p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.filter__item-content-label {
  height: 25px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color);
}
.filter .filter__item.filter__item-details {
  position: relative;
}
.filter .filter__item.filter__item-details details[open] {
  padding: 15px;
}
.filter .filter__item.filter__item-details details[open] summary {
  padding: 0;
  margin-bottom: 10px;
}
.filter .filter__item.filter__item-details:has(details)::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: url("../img/icon/arrow-down-filter.svg") no-repeat center;
}
.filter .filter__item.filter__item-details:has(details[open])::after {
  transform: rotate(180deg);
}
.filter__item-content-label input {
  width: 25px;
  height: 20px;
}
.filter__item-content-text {
  flex: 1;
  text-align: left;
}
.filter summary {
  font-weight: 500;
  font-size: 18px;
}

.noUi-horizontal .noUi-tooltip {
  max-height: 22px;
  padding: 0 4px;
  background-color: #264065;
  color: var(--color-white);
  font-size: 16px;
  line-height: 22px;
  transform: translate(-50%, -10px) !important;
  border: none;
}

/* Сброс стилей для элемента details */
details {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  border: none; /* Убираем рамку */
  background: none; /* Убираем фон */
  outline: none; /* Убираем обводку */
  /* Можно добавить дополнительные свойства, если нужно */
  position: relative;
  z-index: 5;
}

/* Сброс стилей для элемента summary */
summary {
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  cursor: pointer; /* Добавляем указатель для кликабельности */
  /* Дополнительно можно добавить свойства, чтобы изменить внешний вид */
}

/* Чтобы интерпретировать элементы Details как блочные с подходящими отступами */
summary::-webkit-details-marker {
  display: none; /* Убираем стандартный треугольник для WebKit-браузеров */
}

/* Скрываем стандартный чекбокс */
.custom-checkbox {
  opacity: 0; /* Скрываем стандартный чекбокс */
  overflow: hidden;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

/* Стилизуем элемент, который будет выглядеть как чекбокс */
.custom-checkbox + span {
  display: inline-block;
  width: 25px; /* Ширина "чекбокса" */
  height: 25px; /* Высота "чекбокса" */
  border: 2px solid #ccc; /* Цвет границы по умолчанию */
  border-radius: 4px; /* Закругленный угол */
  margin-right: 10px; /* Отступ справа */
  cursor: pointer; /* Курсор при наведении */
  position: relative; /* Для более удобной стилизации при клике */
  transform: border var(--transition);
}

/* Стиль для активного состояния (когда чекбокс выбран) */
.custom-checkbox:hover + span {
  border-color: #007bff; /* Цвет рамки при выборе */
}

.custom-checkbox:checked + span {
  background-color: #007bff; /* Фон при выборе */
  border-color: #007bff; /* Цвет рамки при выборе */
}

/* Стиль галочки */
.custom-checkbox:checked + span::after {
  content: ""; /* Псевдоэлемент для создания галочки */
  position: absolute;
  width: 25px; /* Ширина галочки */
  height: 25px; /* Высота галочки */
  background: url("../img/icon/ok.svg") no-repeat center;
  left: -2px;
  top: -2px;
}

.filter__item-details--type {
  /* Стилизуем элемент, который будет выглядеть как чекбокс */
  /* Стиль для активного состояния (когда чекбокс выбран) */
  /* Стиль галочки */
}
.filter__item-details--type:has(details[open]) {
  padding-bottom: 10px;
}
.filter__item-details--type details {
  position: relative;
  max-height: 300px;
}
.filter__item-details--type .custom-checkbox + span {
  display: inline-block;
  border-radius: 50%;
  width: 25px; /* Ширина "чекбокса" */
  height: 25px; /* Высота "чекбокса" */
  border: 2px solid #ccc; /* Цвет границы по умолчанию */
  margin-right: 10px; /* Отступ справа */
  cursor: pointer; /* Курсор при наведении */
  position: relative; /* Для более удобной стилизации при клике */
}
.filter__item-details--type .custom-checkbox:checked + span {
  border: 5px solid #007bff; /* Цвет рамки при выборе */
  background-color: transparent;
}
.filter__item-details--type .custom-checkbox:checked + span::after {
  display: none;
}

#content-pagination {
  justify-content: center;
  display: flex;
  margin: 15px 0;
}
#content-pagination .pagination {
  display: flex;
  gap: 20px;
}
@media (max-width: 550px) {
  #content-pagination .pagination {
    gap: 5px;
  }
}
#content-pagination .next,
#content-pagination .prev {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all var(--transition);
}
#content-pagination .next svg,
#content-pagination .prev svg {
  margin-top: 11px;
}
#content-pagination .next path,
#content-pagination .prev path {
  transition: all var(--transition);
}
#content-pagination .next svg {
  transform: rotate(180deg);
}
#content-pagination .next:hover,
#content-pagination .prev:hover {
  background-color: #252b42;
  box-shadow: 0px 15px 23px 0px rgba(38, 64, 101, 0.25);
}
#content-pagination .next:hover path,
#content-pagination .prev:hover path {
  fill: var(--color-white);
}

.page-numbers {
  display: flex;
  gap: 10px;
}
.page-numbers .page-link {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 19px;
  font-family: "IBM Plex Sans", serif;
}
.page-numbers .page-link.active {
  border-radius: 50%;
  border: 2px solid #252b42;
}
.page-numbers span {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: start;
  justify-content: center;
  line-height: 38px;
  padding-top: 1em;
}

.scrollable-container {
  max-height: 255px;
  padding-right: 5px;
  overflow-y: scroll;
  position: relative;
}

.filter__item-content::-webkit-scrollbar {
  width: 6px; /* Ширина полосы прокрутки */
}

.filter__item-content::-webkit-scrollbar-track {
  background: rgb(249, 249, 249); /* Цвет фона полосы прокрутки */
  border-radius: 20px; /* Скругление углов */
}

.filter__item-content::-webkit-scrollbar-thumb {
  background: rgb(48, 127, 221); /* Цвет самого ползунка */
  border-radius: 20px; /* Скругление ползунка */
  transition: background 0.3s; /* Плавное изменение цвета */
}

@media (max-width: 550px) {
  .view .view__header-options-filter-show {
    height: 38px;
  }
}
.wiew__button-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.wiew__button {
  font-family: "IBM Plex Sans", serif;
  line-height: 19px;
  font-size: 18px;
  padding: 20px 30px;
  border: 1px solid rgb(38, 64, 101);
  color: rgb(38, 64, 101);
  border-radius: 35px;
  background-color: transparent;
  transition: background-color var(--transition), color var(--transition);
}
.wiew__button:hover {
  cursor: pointer;
  background-color: rgb(38, 64, 101);
  color: #fff;
}
@media (max-width: 550px) {
  .wiew__button {
    padding: 12px 30px;
  }
}

.ss-main {
  background-color: transparent;
  border: none;
}

.ss-main .ss-arrow {
  display: none; /* Скрыть стандартную стрелку */
}

.filter .filter__item-offers:has(.ss-open-below)::after,
.filter .filter__item:has(.ss-open-below)::after,
.view__header-options-filters:has(.ss-open-below)::after {
  transform: rotate(180deg);
}

.ss-main:focus {
  box-shadow: none;
}

.filter__item-offers .ss-main {
  padding: 12px 40px 12px 10px;
  background: rgb(249, 249, 249);
}

.ss-content .ss-list .ss-option {
  padding: 10px;
}

.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: var(--ss-bg-color);
  background-color: var(--accent-color);
}

.filter__item:has(#availability) .ss-main {
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  padding-left: 15px;
}

@media (max-width: 550px) {
  .main_offer-top-active_first,
  .main_offer-top-active-rek {
    font-size: 9px;
    line-height: 12px;
    padding: 3px 6px;
  }
}

/*# sourceMappingURL=catalog-style.css.map */
